@*
    ErrorPage(string Message, Exception Exception)
*@

<div class="text-center container-fluid panel panel-default">
    <div class="panel-heading">
        <h2>NOT FOUND 404 Error</h2>
        <h3>Sorry this page Does Not Exist!</h3>
    </div>
    <div class="panel-body">       
        <img alt="404" class="img-responsive error center-block" src="//d3n8k0cqgcsxxu.cloudfront.net/404.gif" />
        <p> @T("Refesh this page or.") <a href="http://publisulogic.com/">Go to our home page.</a></p>
        <p>@T("Look at the menu for the page you cannot find.")</p>
        <p><a href="http://publiuslogic.com/contact">Please Contact Us. </a>@T("And let us know of the error.")</p>
    </div>
</div>
