@using Orchard.DisplayManagement.Shapes;
<style type="text/css">
   .products {
    margin-top: 10px;
}
.products .products-list {
    padding: 5px;
    list-style: none;
    width: 100%;
}
.products .products-list:after {
    content: "";
    display: table;
    clear: both;
}
.products .products-list li {
    float: left;
    width: calc(33% - 5px);
    min-height: 265px;
    height: 100%;
    margin-right: calc(20px / 3);
    margin-bottom: 5px;
    padding-left: 5px
}
.products .products-list li:nth-child(n + 4) {
    margin-right: 0;
    margin-bottom: 5px
}
</style>
@{
    Script.Include("//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js").UseCondition("lt IE 9").AtHead();
}
@{
    var list = Model.ContentItems;
    var items = list.Items;
    var count = items.Count;
    var listTag = Tag(list, "li");
    listTag.AddCssClass("list-items");
    listTag.AddCssClass("blog list ul li");    
}
@{
    IEnumerable<object> blogPosts = Model.ContentItems;
    Model.ContentItems.Classes.Add("products-list row");
    items[items.Count - 1].Classes.Add("last");
    items[items.Count - 1].Attributes.Add("itemprop", "child");
}
<div class="container-fluid">
    <div id="footer-services" class="products">
        @Display(Model.ContentItems)
    </div>
</div>
    @if (blogPosts == null || blogPosts.Count() < 1)
    {
        <p>@T("There are no posts for this blog.")</p>
    }
