@using Orchard.Tags.Models

<div class="tag-cloud">
@foreach (TagCount tagCount in Model.TagCounts) {
    <span class="tag-cloud-tags-@tagCount.Bucket">
       <span class="tag label label-default"> @Html.ActionLink(tagCount.TagName, "Search", "Home", new {
                area = "Orchard.Tags", 
                tagName = tagCount.TagName
            }, null
        )</span>
    </span>
}
</div>