<div id="skin-chooser-wrap" class="skin-chooser-wrap hidden-xs">
    <span class="change-style">Site Tags</span>
    <span class="skin-chooser-toggle"><span class="glyphicon glyphicon-tags" aria-hidden="true"></span></span>
    <div class="container-fluid pdf">
        <div class="row">
        <ul class="tag-cloud list-group">
    <li class="list-group-item">
        <span class="glyphicon glyphicon-tag" aria-hidden="true"></span>&nbsp;
        <a data-original-title="About" href="/Tags/About" rel="nofollow">About</a>
        <span class="badge">2</span>
    </li>
    <li class="list-group-item">
        <span class="glyphicon glyphicon-tag" aria-hidden="true"></span>&nbsp;
        <a data-original-title="Advanced Sitemap" href="/Tags/Advanced%20Sitemap" rel="nofollow">Advanced Sitemap</a>
        <span class="badge">1</span>
    </li>
    <li class="list-group-item">
        <span class="glyphicon glyphicon-tag" aria-hidden="true"></span>&nbsp;
        <a data-original-title="Autocomplete" href="/Tags/Autocomplete" rel="nofollow">Autocomplete</a>
        <span class="badge">1</span>
    </li>
    <li class="list-group-item">
        <span class="glyphicon glyphicon-tag" aria-hidden="true"></span>&nbsp;
        <a data-original-title="Bootstrap" href="/Tags/Bootstrap" rel="nofollow">Bootstrap</a>
        <span class="badge">5</span>
    </li>
    <li class="list-group-item">
        <span class="glyphicon glyphicon-tag" aria-hidden="true"></span>&nbsp;
        <a data-original-title="Bootstrap 3.3.1" href="/Tags/Bootstrap%203.3.1" rel="nofollow">Bootstrap 3.3.1</a>
        <span class="badge">1</span>
    </li>
    <li class="list-group-item">
        <span class="glyphicon glyphicon-tag" aria-hidden="true"></span>&nbsp;
        <a data-original-title="Bootstrap Select" href="/Tags/Bootstrap%20Select" rel="nofollow">Bootstrap Select</a>
        <span class="badge">1</span>
    </li>
    <li class="list-group-item">
        <span class="glyphicon glyphicon-tag" aria-hidden="true"></span>&nbsp;
        <a data-original-title="CKEditor" href="/Tags/CKEditor" rel="nofollow">CKEditor</a>
        <span class="badge">2</span>
    </li>
    <li class="list-group-item">
        <span class="glyphicon glyphicon-tag" aria-hidden="true"></span>&nbsp;
        <a data-original-title="Colorbox" href="/Tags/Colorbox">Colorbox</a>
        <span class="badge">3</span>
    </li>
    <li class="list-group-item">
        <span class="glyphicon glyphicon-tag" aria-hidden="true"></span>&nbsp;
        <a data-original-title="Contact" href="/Tags/Contact" rel="nofollow">Contact</a>
        <span class="badge">1</span>
    </li>
    <li class="list-group-item">
        <span class="glyphicon glyphicon-tag" aria-hidden="true"></span>&nbsp;
        <a data-original-title="CSE Search" href="/Tags/CSE%20Search" rel="nofollow">CSE Search</a>
        <span class="badge">1</span>
    </li>
    <li class="list-group-item">
        <span class="glyphicon glyphicon-tag" aria-hidden="true"></span>&nbsp;
        <a title="" data-original-title="CSS3" href="/Tags/CSS3" rel="nofollow">CSS3</a>
        <span class="badge">1</span>
    </li>
    <li class="list-group-item">
        <span class="glyphicon glyphicon-tag" aria-hidden="true"></span>&nbsp;
        <a data-original-title="Defrag SQL 2014" href="/Tags/Defrag%20SQL%202014" rel="nofollow">Defrag SQL 2014</a>
        <span class="badge">1</span>
    </li>
    <li class="list-group-item">
        <span class="glyphicon glyphicon-tag" aria-hidden="true"></span>&nbsp;
        <a data-original-title="Donald Boulton's personal Website as donboulton.com" href="/Tags/Donald%20Boulton" rel="nofollow">Donald Boulton</a>
        <span class="badge">5</span>
    </li>
    <li class="list-group-item">
        <span class="glyphicon glyphicon-tag" aria-hidden="true"></span>&nbsp;
        <a data-original-title="Dropdown LogOn" href="/Tags/Dropdown%20LogOn" rel="nofollow">Dropdown LogOn</a>
        <span class="badge">1</span>
    </li>
    <li class="list-group-item">
        <span class="glyphicon glyphicon-tag" aria-hidden="true"></span>&nbsp;
        <a title="" data-original-title="Email" href="/Tags/Email" rel="nofollow">Email</a>
        <span class="badge">1</span>
    </li>
    <li class="list-group-item">
        <span class="glyphicon glyphicon-tag" aria-hidden="true"></span>&nbsp;
        <a data-original-title="Facebook Posts" href="/Tags/Facebook%20Posts" rel="nofollow">Facebook Posts</a>
        <span class="badge">1</span>
    </li>
    <li class="list-group-item">
        <span class="glyphicon glyphicon-tag" aria-hidden="true"></span>&nbsp;
        <a title="" data-original-title="Family" href="/Tags/Family" rel="nofollow">Family</a>
        <span class="badge">3</span>
    </li>
    <li class="list-group-item">
        <span class="glyphicon glyphicon-tag" aria-hidden="true"></span>&nbsp;
        <a data-original-title="File Input" href="/Tags/File%20Input" rel="nofollow">File Input</a>
        <span class="badge">1</span>
    </li>
    <li class="list-group-item">
        <span class="glyphicon glyphicon-tag" aria-hidden="true"></span>&nbsp;
        <a data-original-title="Google" href="/Tags/Google" rel="nofollow">Google</a>
        <span class="badge">4</span>
    </li>
    <li class="list-group-item">
        <span class="glyphicon glyphicon-tag" aria-hidden="true"></span>&nbsp;
        <a data-original-title="Google Calendar" href="/Tags/Google%20Calendar" rel="nofollow">Google Calendar</a>
        <span class="badge">1</span>
    </li>
    <li class="list-group-item">
        <span class="glyphicon glyphicon-tag" aria-hidden="true"></span>&nbsp;
        <a data-original-title="Horse's Portfolio" href="/Tags/Horse%20Portfolio" rel="nofollow">Horse's Portfolio</a>
        <span class="badge">2</span>
    </li>
    <li class="list-group-item">
        <span class="glyphicon glyphicon-tag" aria-hidden="true"></span>&nbsp;
        <a data-original-title="Html5" href="/Tags/Html5" rel="nofollow">Html5</a>
        <span class="badge">3</span>
    </li>
    <li class="list-group-item">
        <span class="glyphicon glyphicon-tag" aria-hidden="true"></span>&nbsp;
        <a data-original-title="Jasny" href="/Tags/Jasny" rel="nofollow">Jasny</a>
        <span class="badge">1</span>
    </li>
    <li class="list-group-item">
        <span class="glyphicon glyphicon-tag" aria-hidden="true"></span>&nbsp;
        <a data-original-title="jsonp" href="/Tags/jsonp" rel="nofollow">jsonp</a>
        <span class="badge">1</span>
    </li>
    <li class="list-group-item">
        <span class="glyphicon glyphicon-tag" aria-hidden="true"></span>&nbsp;
        <a data-original-title="Kama Dark" href="/Tags/Kama%20Dark" rel="nofollow">Kama Dark</a>
        <span class="badge">1</span>
    </li>
    <li class="list-group-item">
        <span class="glyphicon glyphicon-tag" aria-hidden="true"></span>&nbsp;
        <a data-original-title="My Kitty Cats" href="/Tags/Kats" rel="nofollow">Kats</a>
        <span class="badge">1</span>
    </li>   
    <li class="list-group-item">
        <span class="glyphicon glyphicon-tag" aria-hidden="true"></span>&nbsp;
        <a data-original-title="LuDC.CKEditor" href="/Tags/LuDC.CKEditor" rel="nofollow">LuDC.CKEditor</a>
        <span class="badge">1</span>
    </li>
    <li class="list-group-item">
        <span class="glyphicon glyphicon-tag" aria-hidden="true"></span>&nbsp;
        <a data-original-title="Microdata" href="/Tags/Microdata" rel="nofollow">Microdata</a>
        <span class="badge">1</span>
    </li>
    <li class="list-group-item">
        <span class="glyphicon glyphicon-tag" aria-hidden="true"></span>&nbsp;
        <a data-original-title="No captcha V2" href="/Tags/Microdata" rel="nofollow">Microdata</a>
        <span class="badge">1</span>
    </li>
    <li class="list-group-item">
        <span class="glyphicon glyphicon-tag" aria-hidden="true"></span>&nbsp;
        <a data-original-title="No captcha V2" href="/Tags/No%20captcha%20V2" rel="nofollow">No captcha V2</a>
        <span class="badge">1</span>
    </li>
    <li class="list-group-item">
        <span class="glyphicon glyphicon-tag" aria-hidden="true"></span>&nbsp;
        <a data-original-title="Orchard Performance" href="/Tags/Orchard%20Performance" rel="nofollow">Orchard Performance</a>
        <span class="badge">1</span>
    </li>
    <li class="list-group-item">
        <span class="glyphicon glyphicon-tag" aria-hidden="true"></span>&nbsp;
        <a data-original-title="Orchard User Profile" href="/Tags/Orchard%20User%20Profile" rel="nofollow">Orchard User Profile</a>
        <span class="badge">1</span>
    </li>
    <li class="list-group-item">
        <span class="glyphicon glyphicon-tag" aria-hidden="true"></span>&nbsp;
        <a data-original-title="Pics" href="/Tags/Pics" rel="nofollow">Pics</a>
        <span class="badge">1</span>
    </li>
    <li class="list-group-item">
        <span class="glyphicon glyphicon-tag" aria-hidden="true"></span>&nbsp;
        <a data-original-title="Protfolio" href="/Tags/Portfolio" rel="nofollow">Portfolio</a>
        <span class="badge">4</span>
    </li>
    <li class="list-group-item">
        <span class="glyphicon glyphicon-tag" aria-hidden="true"></span>&nbsp;
        <a data-original-title="PrettyPhoto" href="/Tags/PrettyPhoto" rel="nofollow">PrettyPhoto</a>
        <span class="badge">1</span>
    </li>
    <li class="list-group-item">
        <span class="glyphicon glyphicon-tag" aria-hidden="true"></span>&nbsp;
        <a data-original-title="Privacy" href="/Tags/Privacy" rel="nofollow">Privacy</a>
        <span class="badge">1</span>
    </li>    
    <li class="list-group-item">
        <span class="glyphicon glyphicon-tag" aria-hidden="true"></span>&nbsp;
        <a data-original-title="reCaptcha" href="/Tags/reCaptcha" rel="nofollow">reCaptcha</a>
        <span class="badge">1</span>
    </li>
    <li class="list-group-item">
        <span class="glyphicon glyphicon-tag" aria-hidden="true"></span>&nbsp;
        <a data-original-title="Responsive" href="/Tags/Responsive" rel="nofollow">Responsive</a>
        <span class="badge">1</span>
    </li>
    <li class="list-group-item">
        <span class="glyphicon glyphicon-tag" aria-hidden="true"></span>&nbsp;
        <a data-original-title="Relatives Portfolio" href="/Tags/Relatives%20Portfolio" rel="nofollow">Relatives Portfolio</a>
        <span class="badge">1</span>
    </li>
    <li class="list-group-item">
        <span class="glyphicon glyphicon-tag" aria-hidden="true"></span>&nbsp;
        <a data-original-title="Rich Snippets" href="/Tags/Rich%20Snippets" rel="nofollow">Rich Snippets</a>
        <span class="badge">1</span>
    </li>
    <li class="list-group-item">
        <span class="glyphicon glyphicon-tag" aria-hidden="true"></span>&nbsp;
        <a data-original-title="SQL SessionState" href="/Tags/SessionState" rel="nofollow">SessionState</a>
        <span class="badge">1</span>
    </li>
    <li class="list-group-item">
        <span class="glyphicon glyphicon-tag" aria-hidden="true"></span>&nbsp;
        <a data-original-title="SQL" href="/Tags/SQL" rel="nofollow">SQL</a>
        <span class="badge">1</span>
    </li>
    <li class="list-group-item">
        <span class="glyphicon glyphicon-tag" aria-hidden="true"></span>&nbsp;
        <a data-original-title="SQL Fragmentation" href="/Tags/SQL%20Fragmentation" rel="nofollow">SQL Fragmentation</a>
        <span class="badge">1</span>
    </li>
    <li class="list-group-item">
        <span class="glyphicon glyphicon-tag" aria-hidden="true"></span>&nbsp;
        <a data-original-title="Structured Data as richsnippets microdata" href="/Tags/Structured%20Data" rel="nofollow">Structured Data</a>
        <span class="badge">3</span>
    </li>
    <li class="list-group-item">
        <span class="glyphicon glyphicon-tag" aria-hidden="true"></span>&nbsp;
        <a data-original-title="Thank You Landing Page" href="/Tags/Thank%20You" rel="nofollow">Thank You</a>
        <span class="badge">1</span>
    </li>
    <li class="list-group-item">
        <span class="glyphicon glyphicon-tag" aria-hidden="true"></span>&nbsp;
        <a data-original-title="Travel Pictures" href="/Tags/Travel%20Pictures" rel="nofollow">Travel Pictures</a>
        <span class="badge">1</span>
    </li>
    <li class="list-group-item">
        <span class="glyphicon glyphicon-tag" aria-hidden="true"></span>&nbsp;
        <a data-original-title="Tweak Windows 7" href="/Tags/Windows%207" rel="nofollow">Windows 7</a>
        <span class="badge">1</span>
    </li>
    <li class="list-group-item">
        <span class="glyphicon glyphicon-tag" aria-hidden="true"></span>&nbsp;
        <a data-original-title="YouTube" href="/Tags/YouTube" rel="nofollow">YouTube</a>
        <span class="badge">1</span>
    </li>
</ul>
    </div>  </div>    
</div>
